.seccionToWaitImages {
    opacity: 0;
}

.opacityOnCharge {
    animation-name: opacityOnCharge;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;
}

@keyframes opacityOnCharge {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.opacityOnCharge1s5 {
    animation-duration: 1.5s;
}

.opacityOnCharge0s5 {
    animation-duration: 0.5s;
}

/********************************** OoS ********************************/

.OoS {
    opacity: 0;
}

.OoSS {
    animation-name: animationOfScroll; 
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes animationOfScroll {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*********************** OoS With FadeIn Vertical ***********************/

.OoSwF {
    opacity: 0;
}

.OoSwFF {
    animation-name: OoSwFF;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes OoSwFF {
    0% {
        opacity: 0;
        transform: translateY(10vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*********************** Entrada Home ***********************/

.sliderHome {
    --initial-home-animation-duration: 1.25s;
}

.sliderImg1_AnimationOnEnter {
    animation-name: sliderImg1_AnimationOnEnter;
    animation-duration: var(--initial-home-animation-duration);
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;
}

@keyframes sliderImg1_AnimationOnEnter {
    0% {
        opacity : 0;
        transform: scale(50%);
    }
    100% {
        opacity: 1;
        transform: scale(100%);
    }
}


/**********/

.sliderTexts_AnimationOnEnter {
    animation-name: sliderTexts_AnimationOnEnter;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;
}

@keyframes sliderTexts_AnimationOnEnter {
    0% {
        opacity : 0;
        transform: translateX(5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/*********************** Home Photos 1 ***********************/

.cardTeamOpacityOn {
    animation-name: cardTeamOpacityOn;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes cardTeamOpacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.75;
    }
}

.cardTeamOpacityOff {
    animation-name: cardTeamOpacityOff;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes cardTeamOpacityOff {
    0% {
        opacity: 0.75;
    }
    100% {
        opacity: 0;
    }
}

.textFadeInVertical {
    animation-name: textFadeInVertical;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes textFadeInVertical {
    0% {
        transform: translateY(1rem);
        filter: opacity(0);
    }
    100% {
        transform: translateY(0);
        filter: opacity(1);
    }
}

.textFadeOutVertical {
    animation-name: textFadeOutVertical;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes textFadeOutVertical {
    0% {
        transform: translateY(0);
        filter: opacity(1);
    }
    100% {
        transform: translateY(1rem);
        filter: opacity(0);
    }
}


/**************************************************************/

.animation_duration250 {
    animation-duration: 2.5s;
}

.animation_delay025 {
    animation-delay: 0.35s;
}

.animation_delay050 {
    animation-delay: 0.70s;
}

.animation_delay075 {
    animation-delay: 1.0s;
}

/**************************************************************/

.fadeInDer {
    animation-name: fadeInDer;
    animation-timing-function: ease-out;
    animation-duration: 0.65s;
    animation-fill-mode: forwards;
}

@keyframes fadeInDer {
    0% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
    }
}

@media only screen and (orientation: portrait) {

    .fadeInDer {
        animation-duration: 0.75s;
    }
    
    @keyframes fadeInDer {
        0% {
            transform: translateX(60%);
        }
        100% {
            transform: translateX(0);
        }
    }
}