.seccions {
    min-height: calc(100vh - var(--alto-navbar));
    margin-top: var(--alto-navbar);
    position: relative;
    z-index: 50;
    overflow: hidden;
}

.seccionsWithPadding {
    padding: var(--vertical-padding-seccions) var(--horizontal-padding-seccions);
}

.titles {
    font-size: 2.5rem;
    text-transform: uppercase;
}


/************ Sweetalert2 ************/

.swal2-icon-content {
    color: var(--buttons-bg); 
}
