.seccions {
    min-height: calc(100vh - var(--alto-navbar));
    margin-top: var(--alto-navbar);
    position: relative;
    z-index: 50;
    overflow: hidden;
}

.seccionsWithPadding {
    padding: var(--vertical-padding-seccions) var(--horizontal-padding-seccions);
}

.titles {
    font-size: 2.5rem;
    text-transform: uppercase;
}

/************************************* Sweet Alert ***********************************/

.sweetTitleWithOptions {
    font-size: 1.5rem;
}

.swal2-container {
    z-index: 9500 !important;               /* Para que el spinner no tape el popup */    
}

.swal2-icon-content {                       /* Para que el texto dentro del icono redondo sea del mismo color que el circulo del icono */
    color: var(--buttons-bg); 
    font-size: 2rem !important;
}

.swal2-shown {                              /* Para que no desaparezca el scroll cuando aparace el popup de sweetalert2"*/
    overflow: auto;
}

.swal2-title {
    font-size: 1.25rem;                     /* Titulo */
}

.swal2-html-container {                     /* Subtitulo */
    font-size: 1rem !important;
}

.swal2-popup {                              /* Contenedor */
    width: 25rem;
    max-width: 100%;
}
