.cvCont {
    min-height: calc(100vh - var(--alto-navbar));
    max-width: 100%;
    animation-name: cvContFadeInDer;
    animation-timing-function: ease-out;
    animation-duration: 0.65s;
    animation-fill-mode: forwards;
}

@keyframes cvContFadeInDer {
    0% {
        transform: translateX(15%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.cvTextCont {
    width: 50rem;
    max-width: 100%;
}

.cvText p {
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 0.75rem;
}

.cvImage {
    width: 15rem;
    max-width: 100%;
    float: left;
    margin-right: 1rem;
}

.cvCloseIcon {
    position: fixed;
    top: calc(var(--alto-navbar) + 1rem);
    right: 1rem;
    filter: invert(90%);
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    z-index: 200;
}

@media only screen and (orientation: portrait) {

    .cvImage {
        float: initial;   
        margin-right: unset;
        margin-bottom: 2rem;    
    }
   
    .cvTextCont {
        text-align: center;
    }
}