.cardTeamCont {
    margin: 3rem 3rem;
    width: 15rem;
    max-width: 100%;
    height: 15rem;
    z-index: 20;
}

.cardTeamNameCont {
    position: absolute;
    background-color: var(--color-web-2);
    width: 80%;
    height: 20%;
    top: 100%;
    transform: translateY(-50%);
}

.cardTeamName {
    text-transform: uppercase;
    font-weight: 400;
}

.cardTeamPosition {
    margin-top: 0.5rem;
    text-transform: none;
    font-size: var(--font-size-letras-minusculas-portrait);
    opacity: 0.80;
}

.cardTeamFilter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-web-1);
    opacity: 0;
}

@media only screen and (orientation: portrait) {

    .cardTeamCont {
        width: 20rem;
        height: 20rem;
        margin: 3rem 0;
    }
}