.cardTeamCont {
    margin: 3rem 3rem;
    width: 16rem;
    height: 17rem;
    max-width: 100%;
    z-index: 20;
}

.cardTeamNameCont {
    position: absolute;
    background-color: var(--color-web-2);
    width: 85%;
    height: 25%;
    top: 100%;
    transform: translateY(-50%);
}

.cardTeamName {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0.25rem;
}

.cardTeamPosition {
    margin-top: 0.25rem;
    text-transform: none;
    font-size: 0.8rem;
    opacity: 0.80;
}

.cardTeamFilter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-web-1);
    opacity: 0;
    pointer-events: none;
}

@media only screen and (orientation: portrait) {

    .cardTeamCont {
        width: 20rem;
        height: 20rem;
        margin: 3rem 0;
    }

    .cardTeamName {
        font-size: var(--font-size-letras-grandes-portrait);
    }
    
    .cardTeamPosition {
        font-size: var(--font-size-letras-grandes-portrait);
    }
}