.bgHomeCont {
    position: fixed;
    left: 0;
    top: var(--alto-navbar);
    width: 100%;
    height: 100%;
    z-index: 150;
    opacity: 0.4;
}

.bgHomeDiv {
    height: 100%;
    width: calc(100% / 7);
    border-right: 1px solid var(--border-with-bg-dark);
}