.bgHomeCont {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

.bgHomeDiv {
    height: 100%;
    width: calc(100% / 7);
    border-right: 1px solid var(--border-with-bg-dark);
}