.footerBottomCont {
    background-color: var(--color-navbar);
    height: var(--alto-navbar);
    width: 100%;
    padding: 0 var(--horizontal-padding-seccions);
    z-index: 50;
    border-top: 1px dashed var(--border-with-bg-dark);
    position: relative;     /*Para que surta efecto el z-index*/
}

.footerCopy {
    font-size: 14px;
}

@media only screen and (orientation: portrait) {
    .footerCopy {
        font-size: 12px;
    }
}
