.sliderHome {
    min-height: calc(100vh - var(--alto-navbar));
    width: 100%;
    z-index: 200;
    padding: 3rem 0;
    overflow: hidden;
    position: relative;
    --height-content-slider: 25rem;
}

.sliderImgsCont {
    position: relative;
    width: 30rem;
    max-width: 100%;
    height: var(--height-content-slider);
}

.sliderImg1 {
    position: absolute;
    height: 150%;
    max-width: 120%;
    object-fit: contain;
    filter: invert(100%) opacity(0.75);
    top: -3rem;
    bottom: 0;
    right: 45%;
    margin: auto;
    z-index: 60;
}

.sliderImg2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 50;
    filter: brightness(85%) contrast(100%);
    border-radius: 0.1rem;
}

.sliderTextsCont {
    height: var(--height-content-slider);
    width: 10rem;
    z-index: 100;
    position: relative;
}

.sliderTextsCont2 {
    position: absolute;
    right: 0;
    top: 0;
    align-items: flex-end;
    margin-top: -3.5rem;
    justify-content: flex-start;
}

.sliderText1, .sliderText2 {
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    z-index: 30;
    font-weight: 400;
    z-index: 10;
}

.sliderText1 {
    color: var(--color-web-6);
}

.sliderText2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    align-self: flex-end;
}

.sliderText3 {
    font-size: 0.8rem;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 1rem;
    width: max-content;
    line-height: 1.4;
    text-align: right;
    z-index: 10;
}

.sliderImgCompas {
    position: absolute;
    width: 7.5rem;
    object-fit: contain;
    filter: opacity(0.05);
    left: 100%;
    bottom: -2rem;
    transform: translateX(-49%);
}

.sliderButton {
    font-size: 0.65rem;
    background-color: var(--buttons-bg);
    border: none;
    padding: 0.85rem 1rem;
    text-transform: uppercase;
    z-index: 10;
    margin-top: 1.25rem;
    letter-spacing: unset;
    cursor: pointer;
    border-radius: 0.1rem;
    font-weight: 400;
    min-width: 9rem;
}

.sliderButton:hover {
    background-color: var(--buttons-hover-bg);
}

@media only screen and (orientation: portrait) {

    .sliderText1 {
        font-size: 3rem;
    }

    .sliderText2 {
        font-size: 2.5rem;
    }

    .sliderText3 {
        color: white;
        font-size: var(--font-size-letras-chicas-portrait);
    }

    .sliderTextsCont {
        width: 0;
    }
  
    .sliderImg1 {
        max-width: unset;
        right: 30%;
        height: 120%;
        top: 35%;
        filter: invert(100%) opacity(0.95);
    }

    .sliderImg2 {
        filter: brightness(55%) contrast(120%);
    }

    .sliderButton {
        font-size: var(--font-size-letras-chicas-portrait);
    }

    .sliderTextsCont2 {
        margin-top: -3rem;
        padding-right: 0.5rem;
    }

    .sliderImgCompas {
        position: absolute;
        width: 7.5rem;
        object-fit: contain;
        filter: opacity(0.15); 
    }  
}